in
a
b
brute1
brute2
outputInitial
a.cpp
b.cpp
brute1.cpp
brute2.cpp
outputInitial.cpp
test
Relief_mest
task22

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
